<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table id="user-table">
  <thead>
    <tr>
      <th id="user">user</th>
      <th id="edit">edit</th>
      <th id="delete">delete</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.fname + " " + user.lname, user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
